@import "../UI/theme/variables.scss";

.houses {
  display: block;
  min-width: 320px;
  padding: 0 20px;
  overflow-x: scroll;
}

.houses__table {
  background-color: $basic-white;
  color: $basic-black;
  border-collapse: collapse;
  border: 2px solid $basic-grey;
  min-width: 600px;
  margin: 0 auto;
}

tr, td, th {
  padding: 5px;
  border: 1px solid $basic-grey;
  text-align: center;
}

