@import "../UI/theme/variables.scss";
@import "../UI/theme/mixins.scss";

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  margin-top: 0;
  margin-bottom: 28px;
  @include font(30px, 34px);
  font-weight: 700;
  font-style: oblique
}

.login__form {
  max-width: 540px;
}

.login__input {
  width: 100%;
  margin-bottom: 24px;
  padding: 15px 14px 13px;
  @include font(16px, 18px);
  color: $light-black;
  background-color: $basic-white;
  border: 1px solid $basic-grey;
  border-radius: 2px;

  &::placeholder {
    color: $dark-grey
  }
}

.login__submit {
  width: 100%;
  padding: 16px 20px 13px;
  color: $basic-white;
  background-color: $basic-yellow;
  border-radius: 3px
}
