@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./components/UI/theme/mixins.scss";

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  @include font(16px, 24px);
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
